/* Ensure the entire app has a black background */
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Oswald:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white; /* Ensure text is visible on the black background */
  min-height: 100vh; /* Make sure it covers the full viewport height */
}

.kelly-slab-font {
  font-family: 'Kelly Slab', serif;
}

.oswald-font {
  font-family: 'Oswald', sans-serif;
}
.body-component {
  overflow: hidden; /* Prevents scroll bars */
}
.bg-header-image {
  background-image: url('/Users/ableksaju/Downloads/node js/Machine Test/DeepNetSoft/frontend/public/images/HeaderBackground.png');
  background-size: cover;
  background-position: center;
}
.bg-body-header-image {
  background-image: url('/Users/ableksaju/Downloads/node js/Machine Test/DeepNetSoft/frontend/public/images/design1.png');
  background-size: cover;
  background-position: center;
}
